/*
Colors:
	primary red: #F83000
	saturated golden yellow : #FFB00D
	dark golden brown: #ba731d
	bright desaturated green: #9FBA4B
	medium green: #4f6519
	dark green: #2c3008
	pinkish white: #fff7f7

Fonts:
	font-family: "Bowlby One", cursive;
	font-family: 'Oswald', sans-serif; 

To Do list:
	- web layout 

*/

.zeroPadSides /*used on dropdown buttons in parameters div */
{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.displayNone
{
	display: none;
}

.close
{
	opacity: 0.5 !important;
}

#footer 
{
	width: 100%;
	position: relative;
	border-top: solid 1px black;
	padding: 10px;
	top: 20px;
}

#rest-pic
{
	margin: auto;
	padding: 5px;
	position: relative;
	width: 100%;
}

p 
{
	line-height: 6px;
	font-size: 18px;
}

.portdiv 
{
	position: relative;
	height: 350px;
	margin: auto;
}

#parameters
{
	position: absolute;
	top: 20px;
	z-index: 2;
}

#loading1 , #loading2
{
	display: block;
	margin: auto;
	opacity: 0;
}

#restaurant-port1
{
	position: absolute;
	border: solid 1px black;
	border-radius: 3px;
	z-index: 1;
	background-color: #FFF;
	opacity: 0;
	height: 350px;
	display: block;
	visibility: visible;
}

#restaurant-port2
{
	position: absolute;
	border: solid 1px black;
	border-radius: 3px;
	z-index: 1;
	background-color: #FFF;
	opacity: 0;
	height: 100%;
	display: none;
	visibility: hidden;
}

#new-random 
{
	margin: 5px;
	width: 50%;
}
#signUpFields, #logInFields
{
	display: none;
}

#signUpBtn, #logInBtn
{
	font-size: 16px;
	margin-bottom: 10px !important;
}

#post-results /* contains New Search and Retry buttons */
{
	margin-top: 10px;
}

/* Colors and overiding styling -------------------- */
#paramColumn
{
	/*background-color: #F83000;*/
	background-image: url("../images/food.png");
	background-size: contain;
}

h1
{
	/*color: #fff7f7 !important;
	font-family: "Bowlby One", cursive !important;
	letter-spacing: 2px;*/
	color: #FFF !important;
	font-family: 'Changa One', cursive !important;
	-moz-text-shadow: 3px 3px 0px #880016;
	-webkit-text-shadow: 3px 3px 0px #880016;
	text-shadow: 3px 3px 0px #880016;
}

#header
{
	/*border-bottom: 4px solid #ba731d;*/
	margin-bottom: 30px;
	background-color: #E53935;
	height: 100px;
}

#header h2
{
	/*color: #2c3008 !important;*/
	color: #FFF !important;
	margin-bottom: 0px !important;
}

input, button
{
	background-color: #fff7f7 !important;
	margin: 5px 0px !important;
	border: none !important;
	border-radius: 5px !important;
	color: #2c3008 !important;
}


#topDiv
{
	/*border: 3px solid #ba731d;*/
	/*background-color:#FFBF00;*/
	border-radius: 10px;
	/*border: solid 2px #ba731d !important;*/
	/*overflow-y: auto;*/
}

#bottomDiv
{
	margin-top: 15px;
	/*border: 3px solid #ba731d;*/
	border-radius: 10px;
	/*padding-bottom: 10px 10px;*/
	/*background-color:#FFBF00;*/
	/*border: solid 2px #ba731d !important;*/
}

#bottom-area
{
	padding-bottom: 40px;
}

.activeBtn
{
	background-color: #4f6519 !important;
	color: #fff7f7 !important;
}

button[type="submit"]:hover
{
	background-color: #ba731d !important;
	color: #fff7f7 !important;
}

button[type="registry"]:hover
{
	background-color: #9FBA4B !important;
	color: #fff7f7 !important;
}

h6
{
	color: #ba731d !important;
	font-size: 14px !important;
}

#results
{
	margin: 15px 0px;
	opacity: 0;
}

#results p
{
	font-size: 20px;
	margin: 4px 0px;
	padding: 10px;
	line-height: 22px;
}

#port-name
{
	padding: 2px;
	border-bottom: 2px solid #ba731d;
}

#port-direc
{
	word-break: break-all;
}

#port-direc a
{
	line-height: 25px;
}

#port-details
{
	background-color: #fff7f7 !important;
	border-radius: 4px;
	padding-left: 5px;
	overflow: auto;
}

#port-details, #port-param-results
{
	font-family: "Oswald", sans-serif;
}

#port-param-results
{
	border: 2px solid #ba731d;
	border-radius: 4px;
}

#post-results button
{
	font-size: 16px;
	position: relative;
	bottom: 8px;
}

.weblay 
{
	height: 250px;
	margin: 20px;
	display: none !important;
	visibility: hidden !important;
}

.webHead
{
	display: none;
	visibility: hidden;
}

#webHeader
{
	vertical-align: middle;
	line-height: 200px;
	display: none;
	visibility: hidden;
}

#rest-portWeb
{
	border: solid 1px black;
	height: 100%;
	display: none;
	visibility: hidden;
}

#mapsWeb
{
	border: solid 1px black; 
	height: 100%;
	display: none;
	visibility: hidden;
}

#photosWeb
{
	display: none;
	visibility: hidden;
}

#webContainer
{
	display: none;
	visibility: hidden;
}
/* Media queries -------------------------------------- */
@media screen and (min-width: 768px)
{

	#paramColumn
	{
		height: 1000px;
		-moz-box-shadow: 3px 0px 5px #888;
		-webkit-box-shadow: 3px 0px 5px #888;
		box-shadow: 3px 0px 5px #888;
	}
	
	#webContainer
	{
		display: block;
		visibility: visible;
	}

	#new-search
	{
		display: none;
		visibility: hidden;
	}

	#instructions
	{
		display: none;
	}
	
	.weblay 
	{
		display: block !important;
		visibility: visible !important;
	}
	
	#webHead
	{
		background-image: url("../images/stock1.jpg");
		background-size: 100%;
		width: 100%;
		height: 400px;
		opacity: 0.75;
		display: block;
		visibility: visible;
		margin: 0;
		padding:0;
	}

	#webHeader
	{
		color: #FFF;
		margin: auto;
		vertical-align: middle;
		line-height: 13em;
		display: block;
		visibility: visible;
	}

	#webContent
	{
		height: 250px;
	}

	#rest-portWeb
	{
		border: solid 1px black;
		height: 100%;
		display: block;
		visibility: visible;
	}

	#mapsWeb
	{
		border: solid 1px black;
		height: 100%;
		display: block;
		visibility: visible;
	}
	
	#photosWeb
	{
		display: block;
		visibility: visible;
	}

	#restaurant-port1
	{
		display: none;
		visibility: hidden;
	}

	#restaurant-port2
	{
		display: block;
		visibility: visible;
	}

	#footer 
	{
		top: 0px;
	}
	
	#parameters
	{
		display: block !important;
	}

	#new-random 
	{
		width: 100%;
	}
}













